nav>.nav-icon>a {
    letter-spacing: 0.2rem;
}

nav>ul {
    margin-left: auto;
}

nav>input {
    flex-grow: 1;
}

nav {
    height: 4rem;
}

@media only screen and (max-width:1052px) {

    /* nav>div:nth-child(2) {
        display: none;
    } */
    nav>ul>li:nth-child(1),
    nav>ul>li:nth-child(2),
    nav>ul>li:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width:730px) {

    nav>div:nth-child(2) {
        display: none;
    }

    nav>ul {
        font-size: 6px;
    }

    nav>input {
        display: none;
    }
}