@import url("/css/nav.css");

:root {
    --clr-gray-50: #d3d3d3;
    --clr-gray-600: #808080;
    --clr-gray-500: #808080cc;
}

/* ?Scrollbar-effect */

::-webkit-scrollbar {
    width: 0.7rem;
    margin-top: 4rem;
}

::-webkit-scrollbar-track {
    background: var(--clr-gray-50);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-gray-500);
    border: 0.15rem solid var(--clr-gray-50);
    cursor: pointer;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-gray-600);
}